section {
    border-radius: 15px;
    padding: 4%;
    width: 90%;
    height: 850px;
    margin: 1%;
    background-color: #000c;
    display: flex;
    justify-content: start;
}

.cont {
    width: 100%;
    height: 100%;
    background-color: #f00;
    border-radius: 10px;
}
.navegation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}
.desactive {
    transition: 1s;
    display: none !important;
}
.active {
    transition: 1s;
    display: block !important;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: #f007;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalDsc {
    display: none;
}
.modalAct {
    position: relative;
    display: block;
}
.cont-logo {
    width: 45%;
    display: flex;
}
div a li {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    border-color: #ffffff;
}

div a li:hover {
    transition: 0.5s;
    border-bottom: 1px solid #000;
}
.cont-menu {
    width: 30%;
    align-items: center;
    justify-content: end;
}
.cont-logo, .cont-menu {
    display: flex;
}
.img-menu {
    width: 100%;
    display: flex;
}
a li {
    color: #fff;
    font-size: 30px;
}
.logo {
    filter: brightness(150%);
    padding: 10px;
    width: 15%;
}
.cont-info {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}
.contenido, .imagen-contenido {
    width: 45%;
}
.tittle-info {
    color: #fff;
    width: 70%;
    font-size: 50px;
}
h2 b {
    font-weight: 800;
}
.contenido-info {
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 30px;
}
.btn-cont {
    font-size: 30px;
    transition: 0.5s;
    font-weight: 800;
    margin-top: 20px;
    width: 40%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 25px;
}
.btn-cont:hover {
    transition: 0.5s;
    background-color: #000;
    color: #fff;
    border-color: #fff;
}
.social-icons {
    width: 35%;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px;
}
.icon {
    margin: 10px;
    color: #000; 
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
}
.icon:hover {
    color: #fff; 
    background-color: #000; 
}
.imagen-contenido {
    display: flex;
    justify-content: flex-end;
}
.img-cont {
width: 70%;
}
@media(max-width: 1900px) {
    section {
        border-radius: 15px;
        padding: 4%;
        width: 90%;
        height: 600px;
        margin: 1%;
        background-color: #000c;
        display: flex;
        justify-content: start;
    }
    a li {
        font-size: 20px;
    }
    .contenido-info {
        font-size: 20px;
    }
    .btn-cont {
        font-size: 20px;
        font-weight: 600;

    }
    h2 {
        font-size: 50px;
    }
    .social-icons {
        width: 25%;
        margin: 10px;
    }
    .icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
    }

}
@media (max-width: 1100px) {
    section {
        border-radius: 15px;
        padding: 4%;
        width: 90%;
        height: 500px;
        margin: 1%;
        background-color: #000c;
        display: flex;
        justify-content: start;
    }
    h2 {
        font-size: 30px;
    }
    a li {
        font-size: 15px;
    }
    .contenido-info {
        font-size: 15px;
    }
    .social-icons {
        width: 30%;
    }

    .icon {
        margin: 5px;
        font-size: 20px;

    }
    .btn-cont {
        font-size: 20px;
        width: 40%;
        height: 30px;
    }
    

}

@media (max-width: 900px) {
    section {
        border-radius: 15px;
        padding: 4%;
        width: 90%;
        height: 600px;
        margin: 1%;
        background-color: #000c;
        display: flex;
        justify-content: start;
    }
    .tittle-info {
        display: flex;
        align-items: center;
    }
    .cont-info {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido {
        width: 90%;
    }
    .contenido-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .modalList1,.modalList2,.modalList3,.modalList4 {
        color: #fff;
    }
    .desactive {
        display: none;
    }
    .active {
        display: block;
    }
    .desactiveCont {
        display: none !important;
    }
    .modal.modalAct {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .menuModal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%; 
        height: auto;
        background-color: #fff; 
        padding: 20px;
        border-radius: 10px;
        position: relative; 
    }
    .menuModal a {
        text-align: center;
        width: 100%;
    }
    
    .menuModal a li {
        margin: 10px 0; 
        padding: 10px 0;
        width: 100%;
        list-style: none;
        background-color: #000; 
        border-radius: 5px;
    }
    .menuModal a li:hover {
        border: 1px solid #000;
        background-color: #fff; 
        color: #000;
    }
    .btn-close {
        position: absolute; 
        top: 10px;
        right: -250px; 
        background: transparent;
        border: transparent;
        font-size: 20px; 
        cursor: pointer; 
    }
    .navegation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px;
    }
    .cont-menu {
        width: 10%;
        align-items: center;
        justify-content: end;
    }
    .tittle-info {
        color: #fff;
        width: 90%;
        font-size: 25px;
    }
    h2 b {
        font-weight: 600;
    }
    .contenido-info {
        margin-top: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #fff;
        font-size: 12px;
    }
    .btn-cont {
        font-size: 15px;
        transition: 0.5s;
        font-weight: 800;
        margin-top: 10px;
        width: 60%;
        height: 30px;
        background-color: #fff;
        border: 1px solid #000;
        color: #000;
        border-radius: 25px;
    }
    .social-icons {
        width: 50%;
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
    }
    a li {
        font-size: 15px;
        margin: 10px;
        color: #fff;
    }
    .icon {
        color: #000; 
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        transition: color 0.3s, background-color 0.3s;
        text-decoration: none;
    }
    .icon:hover {
        color: #fff; 
        background-color: #000; 
    }
    .imagen-contenido {
        display: flex;
        justify-content: center;
    }
    .img-cont {
    width: 80%;
    }
}
@media (max-width: 550px) {
    section {
        border-radius: 15px;
        padding: 4%;
        width: 90%;
        height: 400px;
        margin: 1%;
        background-color: #000c;
        display: flex;
        justify-content: start;
    }
    .btn-close {
        right: -150px;
    }
    .desactive {
        display: none;
    }
    .active {
        display: block;
    }
    .navegation {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 40px;
    }
    .cont-menu {
        width: 10%;
        align-items: center;
        justify-content: end;
    }
    .tittle-info {
        color: #fff;
        width: 90%;
        font-size: 18px;
    }
    h2 b {
        font-weight: 600;
    }
    .contenido-info {
        margin-top: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #fff;
        font-size: 8px;
    }
    .btn-cont {
        font-size: 10px;
        transition: 0.5s;
        font-weight: 600;
        margin-top: 10px;
        width: 50%;
        height: 30px;
        background-color: #fff;
        border: 1px solid #000;
        color: #000;
        border-radius: 25px;
    }
    .social-icons {
        width: 50%;
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
    }
    a li {
        font-size: 8px;
        margin: 10px;
        color: #fff;
    }
    .icon {
        color: #000; 
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-size: 15px;
        transition: color 0.3s, background-color 0.3s;
        text-decoration: none;
    }
    .icon:hover {
        color: #fff; 
        background-color: #000; 
    }
    .imagen-contenido {
        display: flex;
        justify-content: center;
    }
    .img-cont {
    width: 80%;
    }
}