section {
    border-radius: 15px;
    padding: 20px;
    width: 95%;
    height: 550px;
    margin: 1%;
    background-color: #000c;
    margin: 20px;
    display: flex;
    justify-content: start;
}
.cont {
    width: 100%;
    background-color: #f00;
    border-radius: 10px;
}
.navegation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
}
.desactive {
    display: none;
}
.active {
    display: block;
}
.cont-logo {
    width: 45%;
    display: flex;
}
div a li {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    border-color: #ffffff;
}

div a li:hover {
    transition: 0.5s;
    border-bottom: 1px solid #000;
}
.cont-menu {
    width: 30%;
    align-items: center;
    justify-content: end;
}
.cont-logo, .cont-menu {
    display: flex;
}
a li {
    color: #fff;
}
.logo {
    filter: brightness(150%);
    padding: 10px;
    width: 15%;
}
.cont-info {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}
.contenido, .imagen-contenido {
    width: 45%;
}
.tittle-info {
    color: #fff;
    width: 70%;
    font-size: 45px;
}
h2 b {
    font-weight: 800;
}
.contenido-info {
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 15px;
}
.btn-cont {
    transition: 0.5s;
    font-weight: 600;
    margin-top: 20px;
    width: 30%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 25px;
}
.btn-cont:hover {
    transition: 0.5s;
    background-color: #000;
    color: #fff;
    border-color: #fff;
}
.social-icons {
    width: 25%;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.icon {
    color: #000; 
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
}
.icon:hover {
    color: #fff; 
    background-color: #000; 
}
.imagen-contenido {
    display: flex;
    justify-content: flex-end;
}
.img-cont {
width: 80%;
}