section {
    border-radius: 15px;
    padding: 10px;
    width: 95%;
    height: 800px;
    margin: 1%;
    background-color: #351448f1;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.cont-gral1 {
    transition: 1s;
    width: 80%;
    background-color: #000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-gral2 {
    transition: 1s;
    width: 80%;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont1 {
    transition: 1s;
    width: 25%;
    border: 1px solid #fff;
    border-radius: 100px;
}
.cont2 {
    transition: 1s;
    width: 25%;
    border: 1px solid #000;
    border-radius: 100px;
}
.img-mode {
    cursor: pointer;
    width: 50%;
    margin: -10px -10px -15px;
}
.img-mode-bl {
    transition: 1s;
    animation: movebl 1s forwards;
    filter: brightness(0%); 
}
.img-mode-os {
    transition: 1s;
    animation: moveos 1s forwards;
}
@keyframes movebl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes moveos {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@media(max-width: 1900px) {
    section {
        height: 650px;
    }
}
@media(max-width: 1100px) {
    section {
        height: 500px;
    }
    .img-mode {
        cursor: pointer;
        width: 50%;
        margin: 0px;
    }
}
@media(max-width: 700px) {
    section {
        height: 400px;
    }
    
}