section {
    padding: 10px 0px ;
    width: 98%;
    height: 800px;
    margin: 1%;
    background-color: #fff5;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.calcu {
    transition: 1s;
    background-color:#fff;
    margin: 25px 0px;
    -webkit-box-shadow: 0px 0px 36px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 36px -1px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 36px -1px rgba(0,0,0,0.49);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #000;
    width: 25%;
    height: 90%;
}
.calcu2 {
    transition: 1s;
    background-color:#000;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 36px -1px rgba(255,255,255,0.70);
    -moz-box-shadow: 0px 0px 36px -1px rgba(255,255,255,0.70);
    box-shadow: 0px 0px 36px -1px rgba(255,255,255,0.70);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #fa0;
    width: 25%;
    height: 90%;
}
.cont-gral1 {
    transition: 1s;
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
}
.cont-gral2 {
    transition: 1s;
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
}
.cont1 {
    display: flex;
    justify-content: flex-end;
    transition: 1s;
    width: 15%;
    border-radius: 100px;
}
.cont2 {
    display: flex;
    justify-content: flex-end;
    transition: 1s;
    width: 15%;
    border-radius: 100px;
}
.img-mode {
    cursor: pointer;
    width: 50%;
}
.img-mode-bl {
    transition: 1s;
    filter: brightness(0%); 
}
.img-mode-os {
    transition: 1s;
}

.text-cont {
    width: 90%;
    padding: 15px;
    height: 30px;
    display: flex;
    text-align: end;

}
.text {
    padding: 10px;
    background-color: transparent;
    border: 1px solid #000;
    transition: 1s;
    font-size: 25px;
    font-weight: 800;
    color: #000;
}
.text2 {
    padding: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    transition: 1s;
    font-size: 25px;
    font-weight: 800;
    color: #fff;
}
.nums {
    height: 90%;
    display: flex;
    justify-content: center;
}
form {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn {
    font-size: 20px;
    margin: 10px 5px;
    width: 20%;
    height: 20%;
    border-radius: 50px;
}
.btnCl {
    transition: 1s;
    border: transparent;
    background-color: #000;
    color: #fff;
}
.btnCl:focus {
    transition: 0.5s;
    border: transparent;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.btnCl1 {
    transition: 1s;
    border: transparent;
    background-color: #fc6565;
}
.btnCl1:focus {
    transition: 1s;
    background-color: #fc4242;
    transition: 0.5s;
    border: 1px solid #fff;
}
.btnCl2 {
    transition: 1s;
    border: transparent;
    background-color: #fc63e7;
}
.btnCl2:focus {
    transition: 1s;
    background-color: #ff33e4;
    transition: 0.5s;
    border: 1px solid #fff;
}
.btnCl3 {
    transition: 1s;
    border: transparent;
    background-color: #53e5ff;
}
.btnCl3:focus {
    transition: 1s;
    background-color: #2c80fd;
    transition: 0.5s;
    border: 1px solid #fff;
}
.btnCl4 {
    transition: 1s;
    border: transparent;
    background-color: #53ff78;
}
.btnCl4:focus {
    transition: 1s;
    background-color: #26fa31;
    transition: 0.5s;
    border: 1px solid #fff;
}
@media (max-width:1900px){
    section {
        width: 98%;
        height: 600px;
    }
    .nums {
        height: 80%;
        display: flex;
        justify-content: center;
    }
    form {
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .calcu {
        height: 80%;
    }
    .calcu2 {
        height: 80%;
    }
}
@media (max-width:900px) {
    .calcu {
        height: 350px;
    }
    .calcu2 {
        height: 350px;
    }
    .btn {
        font-size: 20px;
        margin: 5px 2px;
        width: 20%;
        height: 20%;
        border-radius: 50px;
    }
    .text {
        padding: 5px;
        font-size: 20px;
        font-weight: 600;
    }
    .text2 {
        padding: 5px;
        font-size: 20px;
        font-weight: 600;
    }
}
@media (max-width:700px) {
    .calcu {
        height: 250px;
    }
    .calcu2 {
        height: 250px;
    }
    .btn {
        font-size: 15px;
        margin: 5px 3px;
        width: 20%;
        height: 15%;
        border-radius: 50px;
    }
    .text-cont {
        width: 95%;
        padding: 10px;
        height: 30px;
        display: flex;
        text-align: end;
    
    }
    .text {
        padding: 3px;
        font-size: 15px;
        font-weight: 600;
    }
    .text2 {
        padding: 3px;
        font-size: 15px;
        font-weight: 600;
    }
}
@media (max-width:500px) {
    .calcu {
        height: 200px;
    }
    .calcu2 {
        height: 200px;
    }
    .btn {
        font-size: 10px;
        margin: 2px 1px;
        width: 20%;
        height: 20%;
        border-radius: 50px;
    }
    .text-cont {
        width: 95%;
        padding: 5px;
        height: 25px;
        display: flex;
        text-align: end;
    }
    .text {
        padding: 2px;
        font-size: 10px;
        font-weight: 600;
    }
    .text2 {
        padding: 2px;
        font-size: 10px;
        font-weight: 600;
    }
}