section {
    border-radius: 15px;
    padding: 10px ;
    width: 95%;
    margin: 1%;
    background-color: #000c;
    margin: 20px;
    display: flex;
    justify-content: start;
}
.navBar {
    background-color: white;
    width: 55px;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.nav1, .nav2 {
    width: 100%;
}
.nav2 {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-img-home {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid black;
}
.img-nav {
    width: 60%;
    padding: 10px 0px;
}
section div div a {
    display: flex;
    justify-content: center;
}
.img-navM {
    margin: 10px 0px;
    padding: 5px 5px;
    width: 60%;
}
.img-navM:hover{
    border-radius: 10px;
    transition: 1s;
    transform: translate(20px, 0px);
}
.img-cs:hover {
    background-color: #ee22aa;
}
.img-pfl:hover {
    background-color: #d622ee;
}
.img-msj:hover {
    background-color: #7022ee;
}
.img-cmr:hover {
    background-color: #4122ee;
}
.img-ajs:hover {
    background-color: #2274ee;
}
