section {
    border-radius: 15px;
    padding: 10px;
    width: 95%;
    height: 550px;
    margin: 1%;
    background-color: #000c;
    display: flex;
    justify-content: start;
}

.navBar {
    transition: 1s;
    background-color: white;
    width: 4%;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transition: width 0.5s;
    position: relative;
    overflow: hidden;
}

.navBar.expanded {
    transition: 1s;
    width: 25%; 
}
.nav1 {
    border-bottom: 1px solid black;
}
.nav1, .nav2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-menu-img {
    cursor: pointer;
}
.btn-img-menu {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: transparent;
    margin: 10px 0px;
}

.img-nav {
    width: 50%; 
    height: 30px; 
}

.menu-text {
    display: none;
    margin-left: 10px;
}

.btn-close {
    display: none;
    margin-left: auto;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.navBar.expanded .menu-text,
.navBar.expanded .btn-close {
    transition: 1s;
    display: block;
}

section div div a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-navM.notExpanded {
    width: 80%; 
    height: auto; 
    margin: 10px 0px;
    padding: 5px;
    transition: transform 1s, background-color 1s;
}
.img-navM.expanded{
    width: 20%; 
    height: auto; 
    margin: 10px 0px;
    padding: 5px;
    transition: transform 1s, background-color 1s;
}

.nav-text {
    display: none;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    border-radius: 10px;
}

.navBar.expanded .nav-text {
    width: 50%;
    display: inline;
    opacity: 1;
    transform: translateX(20px);
}

.navBar:not(.expanded) .img-navM:hover {
    transform: translateY(-20px);
}

.navBar.expanded .img-navM:hover {
    transform: translateX(20px);
}

.img-cs:hover {
    background-color: #ee22aa;
}
.img-cs{
    border-radius: 10px;
}

.img-pfl:hover {
    background-color: #d622ee;
}
.img-pfl{
    border-radius: 10px;
}

.img-msj:hover {
    background-color: #7022ee;
}
.img-msj{
    border-radius: 10px;
}

.img-cmr:hover {
    background-color: #4122ee;
}
.img-cmr{
    border-radius: 10px;
}

.img-ajs:hover {
    background-color: #2274ee;
}
.img-ajs{
    border-radius: 10px;
}

@media (max-width: 1050px) {
    section {
        height: 450px;
    }
    .navBar {
        
        height: 90%;
    }
}
@media (max-width: 750px) {
    .navBar {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .nav2 {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .img-navM {
        width: 25px !important; 
        padding: 2px !important;
        transition: transform 1s, background-color 1s;
    }
    .img-nav {
        width: 40px; 
        height: 30px; 
    }
    .navBar.expanded .nav-text {
        transition: 1s;

        transform: translate(-50px, 30px);

    }
    
    .navBar:not(.expanded) .img-navM:hover {
        transition: 1s;

        transform: translateX(20px);
    }
    
    .navBar.expanded .img-navM:hover {
        transition: 1s;
        transform: translateY(-10px);
    }
    .navBar.expanded {
        width: 100%; 
        height: 100px;
    }
    .nav1 {
        border-bottom: transparent;
    }
}